<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security.xsd">

	<sec:http auto-config="false" use-expressions="true">

		<headers>
			<cache-control />
			<content-type-options />
			<hsts />
			<frame-options />
			<xss-protection />
		</headers>

		<access-denied-handler error-page="/403.html" />
		<intercept-url pattern="/data/movies/**" access="hasRole('cliente')" />

		<intercept-url pattern="/igluApp/**" access="hasRole('cliente')" />

		<session-management invalid-session-url="/login.xhtml">
			<concurrency-control max-sessions="1" />

		</session-management>

		<form-login login-page="/login.xhtml" login-processing-url="/j_spring_security_check"
			password-parameter="password" username-parameter="username"
			authentication-success-handler-ref="handler" />


		<logout invalidate-session="true"
			delete-cookies="JSESSIONID,SPRING_SECURITY_REMEMBER_ME_COOKIE"
			logout-success-url="/home.xhtml"></logout>
	</sec:http>

	<authentication-manager>
		<authentication-provider>
			<password-encoder hash="bcrypt" />
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="select username,password,enabled from users where username=?"
				authorities-by-username-query="select username, authority from authorities where username =?  " />

		</authentication-provider>
	</authentication-manager>

	<beans:bean id="handler" class="com.iglu.security.Handler">

	</beans:bean>





</beans:beans>